fqdn==1.5.1
isoduration==20.11.0
jsonpointer==2.3
jupyter==1.0.0
jupyterlab==3.6.2
librosa==0.10.0.post2
matplotlib==3.7.1
pip-chill==1.0.1
tensorflow-hub==0.13.0
tensorflow-macos==2.11.0
tensorflow-metal==0.7.1
uri-template==1.2.0
webcolors==1.13
fqdn==1.5.1
isoduration==20.11.0
jsonpointer==2.3
jupyter==1.0.0
jupyterlab==3.6.2
librosa==0.10.0.post2
matplotlib==3.7.1
pip-chill==1.0.1
tensorflow-hub==0.13.0
tensorflow-macos==2.11.0
tensorflow-metal==0.7.1
uri-template==1.2.0
webcolors==1.13
